{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}

<div class="admin-page">

<div>
{{ include('back/index.html.twig') }}
</div>

    <div class="content">
        <a href="{{ path('app_admin_order_index') }}" class="back-btn">
            <i class="fi fi-rs-arrow-left"></i> back to list
        </a>

        <h3>Edit Order</h3>
    <div>

    <header>

    </header>

    {{ include('back/admin_order/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
    </div>
    </div>
{% endblock %}
