{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<div class="admin-page">


{{ include('back/index.html.twig') }}


    <div class="content">

    <div>
    <h3>Edit Product</h3>

    <div>
        <a class="back-btn" href="{{ path('app_admin_product_index') }}">
         <i class="fi fi-rs-arrow-left"></i> back to list
         </a>
    </div>

    <br>

    {{ include('back/admin_product/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
    </div>
    </div>
{% endblock %}
