@import 'utilities/variables';

@import 'home.scss';
@import 'navbar.scss';
@import 'forms.scss';
@import 'tables.scss';
@import 'product-list.scss';
@import 'product-details.scss';
@import 'cart.scss';
@import 'dashboard.scss';
@import 'orders.scss';
@import 'errors.scss';
@import 'checkout.scss';








@font-face {
    font-family: 'Univers';
    src: url('../fonts/UniversLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Univers';
    src: url('../fonts/UniversCnRg.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Univers';
    src: url('../fonts/Univers_ItalicBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}




* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
a,
strong,
b,
input[type=submit] {
    font-family: 'Univers', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-family: 'Univers';
    font-weight: 800;
    color: transparent;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    font-size: 2.3em;
    letter-spacing: .085em;
}

h3 {
    font-weight: 800;
    text-transform: uppercase;
    padding: 1.2em;
}

h3.bordered {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

p {
    font-family: 'Univers', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

a {
    color: #000;
    text-decoration: none;
}

i {
    vertical-align: middle;
}

ul,
li {
    list-style: none;
    padding: 0;
}


input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.05em;
    height: 1.05em;
    border: 1px solid black;
    border-radius: 0;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
}

input[type=checkbox]::before {
    content: "";
    width: .6em;
    height: .6em;
    transform: scale(0);
    transition: .3s transform ease-in-out;
    box-shadow: inset 1em 1em #000;
}

input[type=checkbox]:checked:before {
    transform: scale(1);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    font-size: .8em;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}

.large-btn {
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 0;
    padding: 1.05em 1.6em;
}

.flash {
    position: fixed;
    bottom: 0.95em;
    left: 0.95em;
    width: 260px;
    height: 134px;
    padding: 1.8em;
    background-color: #000;
    color: #fff;
    font-size: .755em;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 6px;

    button {
        right: 3px;
        top: 3px;
        position: absolute;
        background-color: transparent;
        border: none;
        color: #fff;

        i {
            vertical-align: -webkit-baseline-middle;
        }
    }

    .text {
        overflow: auto;
        position: relative;
        height: 100%;

        p {
            margin: 0;
            line-height: 1.4em;
            font-weight: 200;
        }
    }

    .text::-webkit-scrollbar {
        width: 4px;
    }
}
