.home-page {
    section {
        border-bottom: $seperation;
    }

    .top-boxes {
        display: flex;
        flex-wrap: wrap;

        .box {
            height: 16em;
        }

        .box-100 {
            width: 100%;
        }

        .box-33 {
            width: calc(100% / 3);
            display: inherit;
            align-items: center;

            a {
                padding: 0.875em;

                img {
                    max-width: 100%;
                    margin: auto;
                    display: block;
                }
            }
        }
    }

    .categories {
        border-bottom: none;

        ul {
            display: flex;

            li {
                flex: 1;

                a {
                    width: 100%;
                    display: block;

                    img {
                        max-height: 240px;
                        margin: auto;
                        display: block;
                    }

                    .description {
                        text-align: center;
                    }
                }
            }
        }
    }

    .recommendations {
        position: relative;
        overflow: hidden;

        .slidershow {
            position: relative;
            display: flex;
            align-items: center;

            nav {
                z-index: 10;
                display: block;
                position: absolute;
            }

            .nav-btn {
                position: absolute;
                background-color: #d9d5d5;
                padding: 14px 6px;
            }

            .nav-btn.left {
                left: 0;
            }

            .nav-btn.right {
                right: 0;
            }

            ul {
                display: flex;
                padding-left: 0;
                overflow: auto;
                list-style-type: none;

                .product-card {
                    .image {
                        img {
                            max-height: 16em;
                        }
                    }

                    .text-body {
                        p {
                            text-align: left;
                            transform: translateY(-36px) translateX(-23px) rotateZ(-90deg);
                            max-width: 100px;
                        }

                        h6 {
                            text-align: left;
                            margin-left: 1.5em;
                            font-size: .9em;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .home-page {

        .top-boxes {

            .box {
                flex: 1 0 100%;
            }

            .box:not(:last-of-type) {
                border-bottom: 1px solid #000;
            }

            .box-33 a img {
                width: 70%;
            }
        }

        .categories {
            ul {
                flex-wrap: wrap;

                li {
                    flex: 1 0 50%;
                }
            }
        }

        .recommendations {
            display: none;
        }
    }
}

@media only screen and (max-width: 460px) {
    .home-page .top-boxes .box-33 a img {
        width: 100%;
    }
}