.product-details-page {

    .back-btn {
        button {
            background-color: transparent;
            border: none;
        }
    }

    .container {
        display: flex;

        .image-container {
            position: relative;
            height: calc(100vh - 5em);
            padding: 0 1.15em;

            img {
                height: 100%;
            }

            #zoomed-in-picture {
                height: 100%;
                display: none;
                background-repeat: no-repeat;
            }

            .miniature {
                position: absolute;
                opacity: 0;
                cursor: move;
                background-color: #fff;
                width: 100px;
                border: 1px #000 solid;
                right: 8px;
                bottom: 8px;
                transition: opacity .4s;

                .relative {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                    }
    
                    .zoom-lens {
                        position: absolute;
                        border: 1px #000 solid;
                        height: 30px;
                        width: 30px;
                        background-color: rgba(255, 255, 255, 0.6);
                    }
                }
            }

            &:hover .miniature {
                opacity: 1;
            }
        }

        .details {
            border-left: $seperation;

            >div {
                height: 100%;

                form {
                    display: grid;
                    height: 100%;

                    .produit-container {
                        padding: 1em 4em;

                        .badge {
                            padding: .6em 1.3em;
                            background-color: #e4e1e1;
                            color: #000;
                            display: inline;
                            text-transform: uppercase;
                            font-family: 'Jerry';
                            font-weight: 400;

                        }

                        .qty-container {
                            display: flex;

                            input,
                            button {
                                background: none;
                                border: none;
                            }

                            button {
                                font-size: 1.2em;
                            }

                            input {
                                text-align: center;
                                width: 4em;
                                font-size: 1.2em;
                            }

                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            input[type=number] {
                                -moz-appearance: textfield;
                            }
                        }

                        .product-name {
                            font-size: 2.5em;
                            margin-top: 0.5em;
                            text-align: left;
                            color: #081C15;
                        }

                        .prix-prd {
                            font-size: 1.3em;
                        }
                    }

                    .add-to-cart {
                        width: 100%;
                        color: #fff;
                        background-color: #000;
                        border: none;
                        border-radius: 0;
                        padding: 1.05em 1.6em;
                        align-self: end;
                        height: 4.5em;

                        i {
                            margin-right: .225em;
                        }
                    }
                }
            }
        }
    }

    .mobile-view {
        display: none;
    }
}

@media only screen and (max-width: 786px) {
    .product-details-page {
        .container {
            flex-wrap: wrap;

            .image-container {
                height: auto;
                padding-right: 0;

                img {
                    width: 100%;
    max-width: 420px;
    padding: 0.825em;
                }
            }

            .details {
                text-align: center;
                border-left: 0;

                > div {
                    form {
                        .produit-container {
                            .back-btn {
                                display: none;
                            }

                            .product-name {
                                font-size: 1.5em;
                                text-align: center;
                            }
            
                            .qty-container {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }

        .mobile-view {
            display: block;
        }

        .back-btn.mobile-view {
            margin-top: 1.25em;
            margin-left: .725em;
            margin-right: .725em;
        }
    }
}