{% extends 'base.html.twig' %}

{% block title %}Failed Checkout
{% endblock %}

{% block body %}

	<main class="checkout-error">
		<div>
			<div>
				<h3>Your payment has not been completed because something might have gone wrong</h3>
			</div>
			<p>Click on one of the buttons below to continue browsing in the store</p>
			<br>
			<div class="buttons">
				<div>
					<a href="{{path('app_cart')}}" class="large-btn">Go back to cart</a>
				</div>
				<div>
					<a href="{{path('home')}}" class="large-btn">Go back home</a>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
