{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}

    <script>
        function preventBack() {
            window.history.forward();
            setTimeout(preventBack(), 0);
        }

        function goHomeAuto() {
            window.location.href = '/';
        }

        window.addEventListener('load', function() {
            setTimeout(goHomeAuto(), 6000);
        });
    </script>

   <main style="display: grid; align-items: center;height: 100vh;">
   <div style="text-align: center;">
        <div>
            <h3>Your order has been completed with success</h3>
        </div>
        <p>You are going to be redirected to the home page in a few seconds...</p>
        <p>Otherwise, click on the button below</p>
        <br>
        <a href="{{path('home')}}" class="large-btn">Go Home</a>
        </div>
   </main> 

{% endblock %}
