{% extends 'base.html.twig' %}

{% block title %}Edit Anime{% endblock %}

{% block body %}
    <h1>Edit Anime</h1>

    {{ include('back/admin_anime/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_anime_index') }}">back to list</a>

    {{ include('back/admin_anime/_delete_form.html.twig') }}
{% endblock %}
