{% extends 'base.html.twig' %}

{% block title %}Edit Anime{% endblock %}

{% block body %}
<div class="admin-page">


{{ include('back/index.html.twig') }}


    <div class="content">

    <div>

    <header>
        <a class="back-btn" href="{{ path('app_admin_anime_index') }}">
         <i class="fi fi-rs-arrow-left"></i> back to list
         </a>

         <h3>Edit Anime</h3>
    </header>

    <br>

    {{ include('back/admin_anime/_form.html.twig', {'button_label': 'Update'}) }}


    </div>
    </div>
    </div>
{% endblock %}
